.random-container {
    display: flex;

    div {
        border: 1px solid #fff;
        display: flex;
        flex: 1;
        font-size: 80px;
        justify-content: center;
        margin: 16px;
    }
}
