.countries {
  ul {
    border: 1px solid red;
    overflow: hidden;

    li {
      height: 0;
      width: 0; 
    }
  }

  &:hover {
    cursor: pointer;

    ul {
      overflow: visible;
      width: initial;

      li {
        height: 22px;
        transition: height .3s linear;
      }
    }
  }
}